html, body {
    height: 100%;
}

#board {
    height: 95%;
    min-height: 95%;
}

#footer {
    font-family: Courier,monospace,sans-serif;
    position: fixed;
    bottom: .5em;
    left: .5em;
    opacity:0.8;
    z-index: 999;
    text-decoration: none;
}

#menu-btn {
    background-image: url("../assets/menu.svg");
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

/* Dropdown Content (Hidden by Default) */
#dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  right: 0;
  z-index: 9999;
}

/* Links inside the dropdown */
#dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
#dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block !important;}
